h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    unicode-bidi: isolate;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .accordion-body {
    background-color: #3a3a3a;
    color: white;
    height: 250px;
  }
  
  .h1 {
    text-align: center;
  }
  